<header id="header" class=" header-scrolled" style="background-color: black;">
    <div class="container d-flex align-items-center">
        <h1 class="logo me-auto"><a href="index.html">AbdulHade Mobayed</a></h1>
        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto" href="#">HTML-3</a></li>
                <li><a class="nav-link scrollto" href="#">CSS-5</a></li>
                <li><a class="nav-link scrollto" href="#">TypeScript</a></li>
                <li><a class="nav-link scrollto" href="#">Bootstrap</a></li>
                <li><a class="nav-link scrollto" href="#">Angular</a></li>
            </ul>
        </nav>
    </div>
</header>

<section id="hero">
<div class="container">
    <div class="row" style="margin-left: 1%;">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
            data-aos="fade-up" data-aos-delay="200">
            <div>
                <h1>Hello Everybody </h1>
                <h2>This is my website with bootstrap for Test</h2>
            </div>
            <div>
                <br>
                <a [routerLink]="['/signup']" class="btn-get-started scrollto">Get Started</a>
            </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
            <img src="assets/images/hero-img.png" class="img-fluid animated" alt="">
        </div>
    </div>
</div>
</section>

<script src="assets/js/main.js"></script>